body{
    background-color: lightgray;
}
#toggleicon{
    width: 100px;
    padding-left: 30px;
    padding-right: 2px;
}
#toggleicon li{
    width: 100px;
    padding: 10px;
    margin: 10px;
    padding-left: 0;
    margin-left: -25px;
    list-style: none;
    color: black;
    background-color: black;
    border: black 1px solid;
    border-radius: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30%;
}
/*make toggle menu visable*/
.show {display:block;} 

.dropdown-content span{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 0px
}

.colorpicker{
    padding-right: 40%;

}
#default-background:hover{
    background-color: lightgray;
}
#blue-background:hover{
    background-color: blue;
}
#red-background:hover{
    background-color: red;
}
#green-background:hover{
    background-color: green;
}
#yellow-background:hover{
    background-color: yellow;
}

.blue-background {
    background-color: blue;
    }
.red-background {
    background-color: red;
    }
.green-background {
    background-color: green;
    }
.yellow-background {
    background-color: yellow;
    }