body{
    color: black;
    background: lightgrey;
    font-family: 'Nunito', sans-serif;
}
header{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px 0px 0px;
    width: 100%;
    background-color: black;
    color: white;

}
nav{
    font-size: 1.5rem;
    width: 100%;
}
nav ul{
    display: block;
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    list-style: none;
    font-weight: bold;
    font-size: 1.3rem;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 15px 7px 15px 7px;
    color: white;
    text-align: center;
}
nav li{
    float: left;
}
nav li:last-child{
    float: right;
}
nav a.active{
    background-color: purple;
}
nav a:hover{
    color: purple;
}
main{
    display: block;
    width: 100%;
}
h2{
    padding: 0;
}
p{
    font: larger;
}
/* CCS HOME */
.album ul{
    display: block;
    width: 98%;
    margin: 0px 1% 20px 1%;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.album li{
    float: left;
    width: 94%;
    padding: 2% 2%;
    margin: 0px 1% 15px 1%;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.album img{
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 10px;
}
.album h2{
    display: block;
    margin-bottom: 0;
    line-height: 1px;
}

.album audio{
    display: block;
    width: 100%;
    margin: 0;
}
/* CCS ABOUT */
.about ul{
    display: block;
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    list-style: none;
    padding: 1%;
}
.about li{
    float: left;
    width: 98%;
    padding: 1%;
}
.about {
    font-size: larger;
}
/* CCS CONTACT */
.contact ul{
    display: block;
    list-style-position: outside;
    width: 98%;
    float: left;
    list-style: none;
}
.contact li{
    width: 98%;
    margin-left: 0;
}
.contact a{
    color: white;
}
.contact .title{
    font-weight: bold;
    padding-top: 1px;
    font-size: 1.1rem;
    list-style: square;
}
.contact img{
    width: 98%;
}
.contact p{
    font-size: larger;
}

/* CCS MY FAVORITES */

.my_favorites ul{
    display: block;
    width: 98%;
    margin: 0 auto;
    padding: 1%;
    font-size: larger;
}
.my_favorites li{
    margin-left: 3%;
    width: 98%;
}
/* CSS FORMS */

.forms{
    display: block;
    width: 100%;
    font-size: larger;
}
.forms input{
    display: block;
    margin-bottom: 5px;
    height: 50px;
    font-size: larger;
    width: 98%;
    border: purple 1px solid;
    border-radius: 6px;
}
.forms input[type="file"]{
    border: none;
    border-radius: 0px;
}
.forms label{
    font-size: larger;
    display: block;
    width: 90%;
}
.forms textarea{
    display: block;
    margin-bottom: 5px;
    height: 60px;
    width: 98%;
    border: purple 1px solid;
    border-radius: 6px;
}
.button{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 25px;
    background-color: purple;
    border: purple;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

/* Column CSS */
.row{
    display: table;
    width: 100%;
}
.column {
    display: block;
    float: left;
    width: 92%;
    margin: 1%;
    padding: 3%;
    border-radius: 15px;
    background-color:black;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column h2{
    display: block;
    line-break: normal;
}
/*footer design*/
footer{
    display: block;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
    width: 100%;
    background-color: black;
}

/*styles social buttons*/
.social{
    width: 440px;
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
}
.fa{
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    width: 40px;
    border: 1px white solid;
    color: white;
    border-radius: 50%;
}
.social p{
    display: inline;
    padding: 10px;
    margin: 0 auto;
}

#fb:hover{
    color: blue;
    border: blue 1px solid;
}
#ig:hover{
    color: purple;
    border: purple 1px solid;
}
#li:hover{
    color: rgb(18, 157, 204);
    border: rgb(18, 157, 204) 1px solid;
}
#wa:hover{
    color: green;
    border: green 1px solid;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 1000px) {
    .album li{
        width: 44%; 
    }
    .about li{
        width: 48%;
    }
    .about {
        font-size: medium;
    }
    .row{
        display: flex;
    }
    .column {
        display: block;
        width: 42%;
    }
    nav a{
        padding: 15px
    }
    .forms{
        font-size: medium;
    }
    .forms input{
        height: 25px;
        font-size: medium;
    }

}
@media screen and (min-width: 1200px) {
    .album li{
        width: 27.333333%;
    }
    nav ul{
    font-size: 1.5rem;
    }   
    .my_favorites ul{
        font-size: medium;
    }
    .contact p{
        font-size: medium;
    }
}